<% wrap_layout :layout do %>
  <div class="dark">
    <div class="container">
      <div class="grid grid-pad">
        <div class="col-full">
          <a class="back-link" href="/">
            <%= image_tag data.my.favicon %>
            Back
          </a>
       </div>
      </div>
    </div>
  </div>
  <header>
    <div class="container">
      <h1>
        <div class="grid grid-pad">
          <div class="col-1-3 centered">
            <%= image_tag current_page.path.chomp(".html") + "/-.png", style: "height: 2.1em;" %>
          </div>
          <div class="col-2-3">
            <%= current_page.data.title %>
            <small>
              <i class="icon-solid icon-calendar-days"></i>
              <%= current_page.data.date %>
            </small>
          </div>
        </div>
      </h1>
    </div>
  </header>
  <div class="container">
    <div class="grid grid-pad">
      <div class="col-1-3">
        &nbsp;
      </div>
      <div class="col-2-3">
        <%= yield %>
      </div>
    </div>
    <div class="grid grid-pad">
      <div class="col-1-3">
        &nbsp;
      </div>
      <div class="col-1-3">
        <% if current_page.data.technologies %>
        <h3>Technologies</h3>
        <ul>
          <% current_page.data.technologies.each do |tech| %>
          <li><%= tech %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
      <div class="col-1-3">
        <% if current_page.data.team %>
        <h3>Team</h3>
        <ul>
          <% current_page.data.team.each do |member| %>
          <% person = data.people[member] %>
          <li>
            <% if person.page %>
            <a href="<%= person.page %>" target="_blank">
              <%= person.name %>
            </a>
            <% else %>
              <%= person.name %>
            <% end %>
          </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="dark">
    <div class="container">
      <div class="grid grid-pad">
        <div class="col-1-3">
          <h2>Images</h2>
        </div>
        <div class="col-2-3">
          <ul class="figures">
            <% Dir.glob("source/images/#{current_page.path.chomp(".html")}/*.png").each do |image| %>
            <% next if File.basename(image, ".png") == "-" %>
            <li class="light light-border no-caption">
              <%= image_tag image.gsub(/^source\/images\//, "") %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
